/* Basic Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #138;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

section {
    padding: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
